html {
    scroll-behavior: smooth;
}

body {
    font: 400 18px 'Poppins', sans-serif;
    color: $txt-dark;
    box-sizing: border-box;
    background-color: $site-bg;
}

.wrapper {
    position: relative;
}

.container {
    max-width: calc(1179px + 80px + 80px);
    margin: 0 auto;
    padding: 0 80px;

    @media (max-width: 1024px) {
        padding: 0 40px;
    }

    @media (max-width: 570px) {
        padding: 0 15px;
    }
}

.jackpot {
    position: relative;
    text-transform: uppercase;
    background: $jackpot-bg;
    padding: 16.2px 31px 16.2px 69px;

    @media (max-width: 346px) {
        text-align: center;
        padding: 13.2px 25px 13.2px 49px;
    }

    &::before {
        position: absolute;
        content: '';
        width: 26px;
        height: 26px;
        top: 17px;
        left: 31px;
        background-image: url('./../icons/star-3d.svg');
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: 346px) {
            top: 27px;
            left: 40px;
        }
    }
}

.btn {
    @include button-style;

    &:hover {
        color: $txt-first-cards_green;
        background-color: $txt-white;
        border: 2px solid $txt-white;
    }

    &_money {
        &:hover {
            color: $txt-white;
            background-color: #fa4430;
            border: 2px solid #fa4430;
        }
    }
}

.btn-transp {
    @include button-style ($bor: $btn-2d-transp-border, $bck: $btn-2d-transp-bg);

    &:hover {
        color: $txt-first-cards_green;
        background-color: $txt-white;
        border: 2px solid $txt-first-cards_green;
    }
}

.btn,
.btn-transp {
    &__screen {
        width: 11.5em;
        padding: 14.5px 0;
        margin: 0 10px;
    }
}

.btn-3d {
    @include button-style ($fs: 16px, $lh: 24px, $bor: $btn-3d-border, $bck: $btn-3d-bg, $bsh: $btn-3d-shadow);
    padding: 11.5px 36.5px;

    @media (max-width: 570px) {
        padding: 9.5px 34.5px;
    }

    &_big {
        width: 391px;
        font-size: 20px;
        line-height: 30px;

        @media (max-width: 570px) {
            font-size: 18px;
            line-height: 28px;
        }

        @media (max-width: 491px) {
            width: 280px;
        }
    }

    &_spin {
        padding: 17px 47px;
        font-size: 22px;
        line-height: 33px;
    }

    &:hover {
        background: $btn-3d-bg-hover;
    }
}

.btn-demo {
    @include button-style ($fs: 16px, $lh: 24px, $bor: 2px solid $txt-white, $bck: transparent, $bsh: none);

    @media (max-width: 570px) {
        padding: 9.5px 34.5px;
    }
    
    &:hover {
        background: #44f828;
    }
}

.btn,
.btn-transp,
.btn-3d,
.btn-demo {
    @include flex-container;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.main-title {
    @include title ($col: $txt-main-title);
    text-shadow: 0px 0px 20px #001E03;

    @media (max-width: 570px) {
        font-size: 35px;
        line-height: 50px;
    }
}

.rating {
    @include flex-container;
    padding: 25px 0;
    margin-top: 25px;

    @media (max-width: 570px) {
        flex-direction: column;
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: $txt-dark;
    }

    &__stars {
        width: 104.71px;
        height: 18px;
        background-image: url('../icons/stars-yellow.svg');
        background-repeat: no-repeat;
        margin: 7px 22px;
    }
}

.paragraph {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}


.title {
    @include title($fs: 40px, $lh: 60px);

    @media (max-width: 570px) {
        font-size: 30px;
        line-height: 50px;
    }
}

.title-3 {
    @include title($fs: 35px, $lh: 52px);
    margin-bottom: 25px;

    @media (max-width: 570px) {
        font-size: 25px;
        line-height: 42px;
    }
}

.title-4 {
    @include title($fs: 30px, $lh: 45px);
    margin-bottom: 25px;

    @media (max-width: 570px) {
        font-size: 20px;
        line-height: 35px;
    }
}

.text-section {
    @include flex-container($dir: column, $ali: stretch);
    margin-top: $margin-top;

    &__img {
        width: 100%;
        margin-bottom: 70px;
        filter: drop-shadow(0px 7px 10px rgba(0, 0, 0, 0.25));
    }

    &__block {
        @include flex-container($dir: column);
        @include block ($pad: 30px 61px 21px);

        @media (max-width: 570px) {
            padding: 20px 15px 21px;
        }
    }

    &__title {
        margin-bottom: 30px;
    }

    &__list {
        margin: 0 0 23px 85px;
    }

    &__item {
        font-size: 18px;
        line-height: 24px;
        list-style-type: disc;
        padding-left: 13px;
    }

    &__btn-3d {
        margin: 40px auto 0;
        box-shadow: 0px 2px 50px #31ff45;
    }
}

.swiper {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.swiper-wrapper {
    margin-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 672px;
    height: 373px;
}

.swiper-slide-active {
    border: 2px solid #ffffff;
    border-radius: $block-radius;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(to left,rgba(74, 168, 0, 0.44),rgba(74, 168, 0, 0.44));
}

.swiper-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(to left,rgba(74, 168, 0, 0.44),rgba(74, 168, 0, 0.44));
}

.swiper-pagination-bullet {
    position: relative;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    background: linear-gradient(180deg, #FFF84B 0%, #8F9B00 100%);
    opacity: 1;

    &::after {
        position: absolute;
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        top: calc(50% - 4px);
        left: calc(50% - 4px);
        background: #51B800;
    }
}

.swiper-pagination-bullet-active {
    position: relative;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    background: linear-gradient(180deg, #FFF84B 0%, #8F9B00 100%);

    &::after {
        position: absolute;
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        top: calc(50% - 4px);
        left: calc(50% - 4px);
        background: transparent;
    }
}

.faq {
    margin-top: $margin-top;

    &__title {
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__item {
        text-align: left;
        background: rgba(253, 255, 228, 0.25);
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        padding-bottom: 30px;
        margin-top: 20px;
        overflow: hidden;
    }

    &__accordion {
        @include flex-container($jus: flex-start, $wrap: nowrap);
        gap: 37px;
        width: 100%;
        border-radius: 30px;
        padding: 40px 36px 10px 36px;
        cursor: pointer;
        transition: all 0.4s;

        @media (max-width: 570px) {
            padding: 40px 15px 10px 20px;
        }

        @media (max-width: 435px) {
            gap: 15px;
        }
    }

    &__btn {
        width: 34px;
        height: 34px;
        background-image: url('../icons/btn-plus.svg');
        background-repeat: no-repeat;
        background-size: 34px 34px;

        @media (max-width: 415px) {
            width: 65px;
        }

        &_active {
            background-image: url('../icons/btn-minus.svg');
        } 
    }

    &__question {
        font-weight: 700;
    }

    &__panel {
        padding: 0 36px 0 108px;
        overflow: hidden;
        max-height: 0;
        transition: all 0.2s ease-out;

        @media (max-width: 570px) {
            padding: 0 15px 0 90px;
        }

        @media (max-width: 435px) {
            padding: 0 15px 0 70px;
        }

        @media (max-width: 415px) {
            padding: 0 15px 0 27%;
        }
    }

    &__paragraph {
        margin: 0;
    }
}

.btn-to-top {
    display: none;
    position: fixed;
    box-sizing: border-box;
    width: 97px;
    height: 97px;
    right: 150px;
    bottom: 95px;
    background: $btn-top-bg;
    border: $btn-top-border;
    border-radius: 50%;
    box-shadow: $btn-top-shadow;
    background-image: url('../icons/btn-top-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 99999;
    transition: all 0.3s ease;

    @media (max-width: 1440px) {
        right: 50px;
        bottom: 50px;
    }

    @media (max-width: 1024px) {
        width: 70px;
        height: 70px;
        background-size: 40%;
    }

    @media (max-width: 570px) {
        width: 60px;
        height: 60px;
        right: 15px;
        bottom: 20px;
        background-size: 30%;
    }

    &:hover {
        background: $btn-top-bg-hover;
        background-image: url('../icons/btn-top-arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: $btn-top-shadow-hover;

        @media (max-width: 1440px) {
            right: 50px;
            bottom: 50px;
        }
    
        @media (max-width: 1024px) {
            width: 70px;
            height: 70px;
            background-size: 40%;
        }
    
        @media (max-width: 570px) {
            width: 60px;
            height: 60px;
            right: 15px;
            bottom: 20px;
            background-size: 30%;
        }
    }
}