$site-bg: #51B800;

$header-bg: linear-gradient(90deg, rgba(48, 130, 10, 0) 0%, rgba(48, 130, 10, 0.6) 51.56%, rgba(48, 130, 10, 0) 100%);
$header-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

$jackpot-bg:  linear-gradient(90deg, rgba(56, 130, 10, 0) 0%, #2FB600 51.56%, rgba(48, 130, 10, 0) 100%);
$jackpot-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

$hero-screen-bg:  rgba(38, 84, 3, 0.31);
$hero-screen-border:  4px solid #46D101;
$hero-screen-shadow: 0px 15px 20px rgba(0, 0, 0, 0.25);

$spin-item-bg: #47DE00;

$rating-bg: linear-gradient(270deg, rgba(250, 255, 0, 0.5) 6.55%, rgba(219, 255, 0, 0) 91.27%);

$demo-item-bg: #49D700;
$demo-item-shadow: 0px 10px 20px rgba(0, 0, 0, 0.34), inset 0px 10px 20px rgba(255, 255, 255, 0.37), inset 0px -10px 20px #298200;

$footer-bg:  linear-gradient(90deg, rgba(48, 130, 10, 0) 0%, rgba(63, 130, 10, 0.6) 51.56%, rgba(63, 130, 10, 0) 100%);;
$footer-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

$txt-white: #FFFFFF;
$txt-dark: #0F3000;
$txt-main-title: #A2FF76;
$txt-first-cards_green: #196200;
$txt-second-cards_green: #155100;
$txt-footer: #EEFFC9;

$btn-2d-bg: #D3D42E;
$btn-2d-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);

$btn-2d-transp-bg: rgba(255, 255, 255, 0.2);
$btn-2d-transp-border: 2px solid #E5E33A;

$btn-3d-bg: linear-gradient(180deg, #FFF84B 0%, #8F9B00 100%);
$btn-3d-bg-hover: linear-gradient(180deg, #ffd05a 0%, #d08000 100%);
$btn-3d-border: 0.5px solid #FFFFFF;
$btn-3d-shadow: 1px 7px 20px rgba(0, 0, 0, 0.25);

$btn-transp-bg: transparent;
$btn-transp-border: 2px solid #FFFFFF;

$btn-top-bg: #3CBC00;
$btn-top-bg-hover: #cfcb01;
$btn-top-border: 1px solid #EEFFC9;
$btn-top-shadow: 2px 10px 20px rgba(255, 255, 255, 0.13);
$btn-top-shadow-hover: 2px 10px 20px rgba(255, 255, 255, 0.357);

$btn-radius: 50px;
$block-radius: 20px;

$margin-top: 72px;


@mixin flex-container ($dir: row,
                      $jus: center,
                      $ali: center,
                      $wrap: wrap) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jus;
    align-items: $ali;
    flex-wrap: $wrap;
}

@mixin button-style ($cl: $txt-white,
                    $fw: 700,
                    $fs: 18px,
                    $lh: 27px, 
                    $ls: -0.025em,
                    $bor: 2px solid #D3D42E,
                    $bor-rad: $btn-radius,
                    $bck: $btn-2d-bg,
                    $bsh: $btn-2d-shadow,
                    $pd: 14.5px 58.5px) {
    color: $cl;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    letter-spacing: $ls;
    text-transform: uppercase;
    border: $bor;
    border-radius: $bor-rad;
    background: $bck;
    box-shadow: $bsh;
    padding: $pd;
}

@mixin title ($col: inherit,
            $fs: 45px,
            $lh: 68px,
            $tt: normal) {

    color: $col;
    font-weight: 700;
    font-size: $fs;
    line-height: $lh;
    text-transform: $tt;
    text-align: center;
    letter-spacing: -0.02em;
}

@mixin block ($bck: rgba(253, 255, 228, 0.25),
            $bor: 1px solid #FFFFFF,
            $bor-rad: $block-radius,
            $bsh: 0px 7px 15px #387000,
            $pad: 37px 61px) {

    background: $bck;
    border: $bor;
    border-radius: $bor-rad;
    box-shadow: $bsh;
    padding: $pad;
}